<div class="row">
  <div class="col-lg-8">
    <h2>About Ellensburg Homeschool Co-Operative</h2>
    <p>The Ellensburg Homeschool Co-Operative (EHC) was created to provide an
    instructional resource and group learning experience for Kittitas County
    homeschoolers. We are a diverse group, and homeschool for many reasons.
    Classes offered at the co-op are secular in nature, and are open to all.</p>
    
    <p>Our classes are held in downtown Ellensburg, at the Odd Fellows' Hall.
    See the 'Directions' page for a map to the location.
    
    <p>Class space is limited, so register early to secure your place. Payments
    can not be accepted online at this time; payment is due by the quarter
    orientation date (see "Important Dates" on the Home page).</p>
    
    <h2>How Does it Work?</h2>
    <p>Everyone works together to create the learning environment. We rely upon
    volunteers to make this program a success. Parent help is needed:
    <ul>
      <li>In the classroom to assist teachers</li>
      <li>Set-up/take down of classrooms</li>
      <li>Monitoring study halls/play areas/nursery</li>
      <li>Clean-up</li>
    </ul>
    
    <p>​Parents will sign-up for volunteer duties at the quarter orientation; all
    parents must volunteer. This is not a school; parents must participate for the
    co-operative portion of this co-op to work.</p>
    
    <p>Classes are taught by qualified parents and contracted teachers. Our teachers
    are often K-12 certified or college professors.  We also have graduate students
    at CWU teaching courses.</p>
    
    <h2>General Policies (ie, here are the rules!)</h2>
    <ol>
      <li>Parents on Site. A parent, permanent legal guardian or designated responsible adult must remain within the Calvary Ellensburg boundaries the ENTIRE time during his/her children's attendance. Sitting in cars &/or dropping off children is NOT ALLOWED. For specific allowances, email admin@ellensburghomeschool.org.</li>
      <li>Enforcing Rules. Parents assume full responsiblity for their children at all time while present at Calvary Ellensburg and are expected to enforce co-op rules and expectations.</li>
      <li>Volunteering. As a co-operative, parent participation is critical, and all parents will be expected to perform one or more volunteer duties while their children are in classes and/or study hall. Sign up sheets will be at the quarterly orientation and in the hall, first week of classes.</li>
      <li>Absences. Absences are discouraged, as classes are built sequentially on the previous week's material. If you must be absent, please make prior arrangements for make-up work (reading assignments/handouts/homework) with your instructors. Remember, no tuition refunds will be given for missed days.</li>
      <li>Release & Medical Forms. You will have to sign liability release forms and medical treatment forms (in case of emergency).  Ellensburg Homeschool Co-Op (includes members, administrators, teachers and other students) and Odd Fellows Lodge make no assumptions of risk or liability for anyone attending Ellensburg Homeschool Co-Op.  In addition, parents are directly responsible for the actions, health and well-being of their children while attending Ellensburg Homeschool Co-Op and on Odd Fellow Lodge grounds. Compensation for injury or damages, either accidental or deliberate, will not be available.  All costs due to said injuries or damages, either accidental or deliberate, will be covered by the parents of the children/adults responsible.</li>
    </ol>
    
    <h2>Student Expectations</h2>
    <p>All students enrolled in EHC must adhere to the following guidelines:</p>
    <ul>
      <li>Be honest, courteous and patient with everyone; treating others with kindness.</li>
      <li>Respect and obey those in authority.</li>
      <li>Be on time for classes (this means arriving before class begins).</li>
      <li>Use respectful and polite language.</li>
      <li>Remain with your class unless you obtain permission from your teacher to leave and be in the appropriate areas at all times; not roaming the building or property.</li>
      <li>Do not bring electronic devices of any kind to classes (music, gameboys, etc).</li>
      <li>Do not bring weapons, including pocket-knives, on the property.</li>
      <li>Complete homework (if any) given by your instructor and fully participate in class by engaging with other students and the instructor during class time.</li>
      <li>Contact the instructor when you are absent or use the form on the HOME page.</li>
      <li>Reimburse for any damage done by the student to the facility or equipment.</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <blockquote>To inspire a love for learning, and foster creative, critical
    and analytical thinking skills.</blockquote>
    
    <%= image_tag "dustys-oct-2011.jpg", size: "305x227", style:"box-shadow: 0px 4px 10px #505050; display: block; margin-left: auto; margin-right: auto"%>
    <i>Scavenger Hunt at Dusty's, Oct. 2011. Photo by Erica.</i>
    <br><br>
    <%= image_tag "ecology-sep-2011.jpg", size: "305x227", style:"box-shadow: 0px 4px 10px #505050; display: block; margin-left: auto; margin-right: auto"%>
    <i>Ecology Field Trip, Sept 2011. Photo by Cassie.</i>
    <br><br>
    <%= image_tag "dustys2-oct-2011.jpg", size: "305x227", style:"box-shadow: 0px 4px 10px #505050; display: block; margin-left: auto; margin-right: auto"%>
    <i>Halloween Scavenger Hunt, Oct 2011. Photo by Darcy. </i>
    <br><br>
    <%= image_tag "hatchery-sep-2011.jpg", size: "305x227", style:"box-shadow: 0px 4px 10px #505050; display: block; margin-left: auto; margin-right: auto"%>
    <i>The Scheffers at the fish hatchery field trip, Sept 2011</i>
  </div>
</div>
