<h1>Contact</h1>
<p>Just fill out the form to contact our planning committee!</p>
<%= simple_form_for ContactForm.new do |f| %>
  <%= render :partial => 'contact_forms/fields', :locals => { :f => f } %>
<% end %>
