<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Welcome</h3>
      </div>
      <div class="panel-body">
        <p>The Ellensburg HomeSchool Co-Op (EHC) was established to support the
        Kittitas County homeschool community by providing a variety of academic &
        extracurricular classes to supplement your homeschool curriculum.</p>
        
        <p>"Co-Op" means this is a co-operative effort; moms and dads work together
        to create the infrastructure and build a sucessful learning environment.</p>
        
        <p>To learn about how EHC works, or browse the class schedule, visit the
        links above.  If you are interested in teaching a class, please visit the
        "Contacts" page and email our Program  Administrator  with your name, a
        class description and your qualifications.</p>
        
        <h4>Not participating in Co-Op?</h4>
        <p>If you are a Kittitas County homeschooler, this is still the place to
        connect with other families. Our homeschool community has  field trips,
        park days, learning events, and other fun activities in addition to co-op
        classes. Most of these are posted on the "Ellensburg Homeschoolers" Facebook
        page (see link at top of page), but we will also occasionally post them here,
        including pictures from these events.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Important Dates</h3>
      </div>
      <div class="panel-body">
<!--        <p>These dates include co-op specific dates, and fieldtrip dates open to
        the ENTIRE homeschool community. To RSVP for fieldtrips, please follow the
        link to the FB page event.</p>

        <p>​Registration event for classes at Downtown D&M from 9-11 on Tuesday Jan
        6th. If registration is completed and paid for by the 6th the Co-Op fee is
        discounted from $10 per class to $5 per class.</p>

        <p>January  13th - First Day of Winter Quarter</p>
        <p>March 10th - Last Day of Winter Quarter</p>-->
        <table class="table table-striped">
          <% @date_descriptions.each do |date_or_time,descr| %>
            <tr>
              <td><%= date_or_time.is_a?(Time) ? formal_date_time(date_or_time) : formal_date(date_or_time) %></td>
              <td><%= descr %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Meet the Other Parents</h3>
      </div>
      <div class="panel-body">
        <p>Head over to our Facebook group and meet the other parents who are participating in the co-op.</p>
        <%= render partial: 'layouts/facebook_badge' %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Have an Idea for a Class?</h3>
      </div>
      <div class="panel-body">
        <p>We are always searching for class and workshop ideas. If you would like to
          make a suggestion, head over to the <%= link_to "Contact", contact_path %> page
          to contact our planning committee!</p>
      </div>
    </div>
  </div>
</div>
