<div class="page-header">
  <h2>Getting Started: Parents</h2>
</div>

<p>
Here are the first steps to getting started for a parent wanting to
sign their child(ren) up for classes. These steps are explained below
in more detail.
</p>

<ol>
  <li><b>Sign up for an account</b></li>
  <li><b>Log in</b></li>
  <li><b>View your account</b></li>
  <li><b>Add your students (children)</b></li>
  <li><b>Enroll in classes</b></li>
</ol>

<h3>Sign up for an account</h3>
<p>To register your children and enroll them for classes, 
    you need to have a user account. So the first step is to 
    sign up. Follow the <i>Sign up</i> link on the right-hand side of
    the top navigation bar.
</p>

<h3>Log in</h3>
<p>
Now that you have an account, log in by following the <i>Log in</i>
link, which is on the right-hand side of the top navigation bar.
</p>

<h3>View your account</h3>
<p>
Once you are logged in, a link to your <i>Account</i> page will appear
on the right-hand side of the top navigation bar, next to the
<i>Log Out</i> link.
</p>

<h3>Add your students (children)</h3>
<p>
On your account page, look under <i>Important Links</i>. There is a
<i>Students</i> link where you can add information for each of your
students (children) by pressing <i>Add Student</i>. A student must
be added here before he/she can be enrolled in classes.
</p>

<h3>Enroll in classes</h3>
<p>
Once information for your students (children) has been added,
you can begin enrolling in classes for the upcoming school quarter.
Start on your account page, and look under <i>Important Links</i>.
There is a link to <i>Enrollments</i>, where you can enroll
any of your students in upcoming classes by pressing 
<i>Add Enrollment</i>. Information about upcoming classes can
be found by following the <i>Classes > Upcoming</i> link from
the top navigation bar.
</p>
