<div class="page-header">
  <h2>Getting Started: Instructors</h2>
</div>

<p>
Here are the first steps to getting started for an instructor wanting to
teach a class.
</p>

<ol>
  <li><b>Get in touch with the organizers</b></li>
  <li><b>Sign up for an account</b></li>
  <li><b>Log in</b></li>
  <li><b>View your account</b></li>
  <li><b>View your classes</b></li>
</ol>

<h3>Get in touch with the organizers</h3>
<p>To teach a co-op class you first need to get in touch with the
   co-op organizers to let them know you are interested in teaching.
   To do this, follow the <i>Contact</i> link on the top navigation 
   bar and fill out the contact form. Someone will follow up to discuss
   your interest and the particulars of getting a class scheduled.
</p>

<h3>Sign up for an account</h3>
<p>To be added as an instructor, you must have a user account. To sign up
   for an account, follow the <i>Sign up</i> link on the right-hand side of
    the top navigation bar.
</p>

<h3>Log in</h3>
<p>
Now that you have an account, log in by following the <i>Log in</i>
link, which is on the right-hand side of the top navigation bar.
</p>

<h3>View your account</h3>
<p>
Once you are logged in, a link to your <i>Account</i> page will appear
on the right-hand side of the top navigation bar, next to the
<i>Log Out</i> link.
</p>

<h3>View your classes</h3>
<p>
On your account page, look under <i>Important Links</i>. There is a
<i>Teaching</i> link where you can view the class sections you teach.
For each section, there is link to follow so you can see
<ul>
  <li>scheduling details (room, time, and fees)</li>
  <li>class description</li>
  <li>student enrollment (names, ages, and medical considerations)</li>
</ul>
</p>