<div class="page-header">
  <h2>Edit Child</h2>
</div>
<%= simple_form_for(@child, html: { class: 'form-horizontal' }) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
<% end %>
