<h2>Students</h2>
<% if @students.any? %>
<%= render partial: 'students/table', locals: { :students => @students } %>
<% else %>
<p>No students have been added.</p>
<% end %>

<%= link_to "Add Student", new_student_path, :class => 'btn btn-primary' %>
