<div class="page-header">
  <h2>Terms</h2>
</div>

<% if Term.any? %>
  <%= render partial: "terms/table", locals: { :terms => Term.all,
             :show_actions => false } %>
<% else %>
  There are no terms.
<% end %>
