<div class="page-header">
  <h2>Classes</h2>
</div>

<% if @terms.any? %>
  <%= render partial: "terms/table", locals: {
    :terms => @terms, :show_actions => @scheduling } %>
<% else %>
  <p>There are no classes to display.</p>
<% end %>

<% if @scheduling %>
  <p><%= link_to "Add Term", new_term_path, :class => 'btn btn-primary' %></p>
<% end %>

<% if user_signed_in? %>
  <p><%= link_to raw("&larr; Back to Account"), account_path %></p>
<% end %>