<div class="page-header">
<h2><%= @term.name %></h2>
</div>
<p><strong>Start date: </strong><%= @term.start_date %></p>
<p><strong>End date: </strong><%= @term.end_date %></p>

<h3>Sections</h3>
<% if @term.sections.any? %>
<%= render partial: "sections/table", locals: { :sections => @term.sections,
           :show_actions => false } %>
<% else %>
<p>There are no sections in this term.</p>
<% end %>
