<div class="page-header">
  <h2>New Section</h2>
</div>
<%= simple_form_for [@section.term,@section], :html => { :class => 'form-horizontal' } do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
<% end %>