<% if @enrollments.values.flatten.any? %>
  <% @enrollments.each do |name, enrollments| %>
    <% if enrollments.any? %>
      <div class="page-header">
        <h2><%= name %> Enrollments</h2>
      </div>
      <%= render partial: "enrollments/table", locals: { :enrollments => enrollments,
        :registering => @registering } %>
    <% end %>
  <% end %>
<% else %>
<h2>Enrollments</h2>
<p>No enrollments to display.</p>
<% end %>

<% if !@registering %>
  <p><%= link_to "Add Enrollment", new_enrollment_path, :class => 'btn btn-primary' %></p>
<% end %>
<p><%= link_to raw("&larr; Back to Account"), account_path %></p>