<div class="page-header">
  <h2>Enrollments</h2>
</div>
<% if @enrollments.any? %>
<%= render partial: "enrollments/table", locals: { :enrollments => @enrollments } %>
<% else %>
<p>No enrollments have been added.</p>
<% end %>

<%= link_to "Add Enrollment", new_enrollment_path, :class => 'btn btn-primary' %>
