<h2><%= @student.first %>'s Enrollments</h2>
<% if @enrollments.any? %>
<%= render @enrollments %>
<% else %>
<p>No enrollments have been added.</p>
<% end %>

<%= link_to "Add Enrollment", new_student_enrollment_path(@student), :class => 'btn btn-primary' %>