<div class="page-header">
  <h2>Cataloging</h2>
</div>

<p><%= link_to "Subjects", subjects_path %></p>
<p><%= link_to "Courses", courses_path %></p>
<p><%= link_to raw("&larr; Back to Responsibilities"), responsibilities_path %></p>