<div class="page-header">
  <h2>Coordination</h2>
</div>
<p><%= link_to "Manage Responsibilities", responsibilities_path(coordinating: true) %></p>
<p><%= link_to raw("&larr; Back to Responsibilities"), responsibilities_path %></p>