<div class="page-header">
  <h2>Registration</h2>
</div>
<p><%= link_to "Enrollments", enrollments_path(:registering => true) %></p>
<p><%= link_to "Students", students_path(:registering => true) %></p>
<p><%= link_to raw("&larr; Back to Responsibilities"), responsibilities_path %></p>