<div class="page-header">
  <h2>Subjects</h2>
</div>

<% if @subjects.any? %>
<%= render partial: "subjects/table", locals: {
  :subjects => @subjects,
  :show_actions => @cataloging, :active_links => true, } %>
<% else %>
  There are no subjects.
<% end %>

<% if @cataloging %>
  <%= link_to "Add Subject", new_subject_path, :class => 'btn btn-primary' %>
<% end %>
