<div class="page-header">
  <h2>Subjects</h2>
</div>

<% if @subjects.any? %>
<%= render partial: "subjects/table", locals: {
  :subjects => @subjects,
  :show_actions => @cataloging, :active_links => true, } %>
<% else %>
  <p>There are no subjects.</p>
<% end %>

<% if @cataloging %>
  <p><%= link_to "Add Subject", new_subject_path, :class => 'btn btn-primary' %></p>
<% end %>
<p><%= link_to raw("&larr; Back to Course Catalog"), courses_path %></p>