<div class="page-header">
  <h2>Subjects</h2>
</div>
<% if Subject.any? %>
  <%= render partial: "subjects/table", locals: { :subjects => Subject.all,
             :show_actions => false, :active_links => true } %>
<% else %>
  There are no subjects.
<% end %>
