<div class="page-header">
  <h2><%= @subject.name %> Courses</h2>
</div>
<%= render partial: "courses/table", locals: {
  :courses => @subject.courses,
  :show_actions => false, :active_links => true, } %>
