<div class="page-header">
  <h2>Edit Room</h2>
</div>
<%= simple_form_for @room, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
<% end %>
