<div class="page-header">
  <h2><%= @room.name %></h2>
  <i>In the <%= link_to @room.building.name, building_path(@room.building) %> building</i>
</div>
<p></p>

<%= link_to "Back", @room.building, :class => 'btn btn-default'  %>
<%= link_to "Edit", edit_building_room_path(@room.building, @room), :class => 'btn btn-default' %>
