<div class="page-header">
  <h2>Courses</h2>
</div>

<% if @courses.any? %>
<%= render partial: "courses/table", locals: {
  :courses => @courses,
  :show_actions => @cataloging, :active_links => true, } %>
<% else %>
  <p>There are no courses.</p>
<% end %>

<% if @cataloging %>
  <p><%= link_to "Add Course", new_course_path, :class => 'btn btn-primary' %></p>
<% end %>