<div class="page-header">
  <h2>Course Catalog</h2>
</div>

<p><%= link_to "Subjects", subjects_path %></p>

<% if @courses.any? %>
<%= render partial: "courses/table", locals: {
  :courses => @courses,
  :show_actions => @cataloging, :active_links => true, } %>
<% else %>
  <p>There are no courses.</p>
<% end %>

<% if @cataloging %>
  <p><%= link_to "Add Course", new_course_path, :class => 'btn btn-primary' %></p>
<% end %>

<% if user_signed_in? %>
  <p><%= link_to raw("&larr; Back to Account"), account_path %></p>
<% end %>